swagger: '2.0'
info:
  description: 'The Australian Publishers Association API'
  version: 1.0.0
  title: APA API
  termsOfService: https://www.publishers.asn.au/Web/Terms-and-Conditions.aspx
  contact:
    email: support@stsoftware.com.au
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: api.titlepage.com.au
basePath: /v1
tags:
  - name: Titles
    description: Full ONIX 3.0
    externalDocs:
      description: Find out more
      url: https://titlepage.com.au
  - name: Stock
    description: Bookstore stock levels
schemes:
  - https
paths:
  /availablity/{ISBN}:
    get:
      tags:
        - Titles
      summary: Find the availablity of an ISBN
      description: Returns nearest bookstore with availible stock
      operationId: findISBN
      produces:
        - application/json
      parameters:
        - name: ISBN
          in: path
          description: ISBN of the title to return
          required: true
          type: string
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Location'
        '400':
          description: Invalid ISBN supplied
        '404':
          description: ISBN not found
  /stock/{ISBN}:
    post:
      tags:
        - Stock
      summary: Place an order for a pet
      description: ''
      operationId: placeOrder
      produces:
        - application/json
      parameters:
        - in: path
          name: ISBN
          description: The number of books in stock
          required: true
          type: string
        - in: body
          name: in-stock
          description: The number of books in stock
          required: true
          schema:
            $ref: '#/definitions/Stock'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid Order
      security:
        - api_key: []
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  Stock:
    type: object
    properties:
      in-stock:
        type: integer
        format: int64
      back-order:
        type: integer
        format: int64
    xml:
      name: Order
  Location:
    type: array
    items:
      type: object
      properties:
        bookstore: 
          type: string
        address: 
          type: string
        availiblity:
          type: boolean
